.icons img{
    position: relative;
    width: 80px;
    height: 80px;
}
.today-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.today-box img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}
.weather-container{
    margin: -18px 30px;
    padding: 40px;
    border-radius: 30px;
    background: linear-gradient(to left,#2b2047,#5c3f5e);
    transition: 0.5s;
}
.weather-container .bottom-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.weather-container .top-container{
    display: flex;
    margin-left: 40px;
    justify-content: center;
}
.weather-container .top-container p{
    padding-left: 20px;
    padding-right: 20px;
}
.weather-container .bottom-container .box{
    border-radius: 20px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 5px 40px 5px 40px;
}
.weather-container .bottom-container .box p{
    font-size: 16px;
}
.today-box div:not(.text){
    font-size: 16px;
    margin-left: 40px;
    text-align: start;
}
.city{
    font-size: 34px;
    margin: 0;
    color: rgb(168, 233, 230);
}
.date{
    font-size: 18px;
}
.temp{
    font-size: 50px;
    transform: translate(15px,-25%);
}
.text span{
    font: 23px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -20px;
}
p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media(max-width: 1200px){
    .icons img{
        height: 70px;
        width: 70px;
    }
    .weather-container .bottom-container .box{
        margin-right: 50px;
        margin-bottom: 10px;
        padding: 5px 15px 5px 15px;
    }
    .weather-container .bottom-container .box p{
        font-size: 15px;
    }
    .weather-container .bottom-container{
        flex-wrap: wrap;
    }
    p.city{
        font-size: 28px;
    }
    p.date{
        font-size: 19px;
    }
    p.temp{
        font-size: 16px;
    }
}
@media(max-width: 1200px){
    .weather-container .bottom-container{
        flex-direction: column;
    }
    .weather-container .bottom-container .box{
        margin-right: 20px;
        margin-bottom: 10px;
        padding: 7px 16px ;
    }
    .weather-container .bottom-container .box p{
        font-size: 19px;
    }
    
}
@media(max-width: 991px){
    .icons img{
        height: 75px;
        width: 75px;
        margin: 0;
    }
    .weather-container{
        margin: 30px 0;
        padding: 30px;
        padding-bottom: 20px;
    }
    .weather-container .bottom-container .box{
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 6px 14px ;
    }
    .weather-container .bottom-container .box p{
        font-size: 12px;
    }
    p.city{
        font-size: 22px;
    }
    p.date{
        font-size: 17px;
    }
    p.temp{
        font-size: 15px;
    }
}
