.search{
    position: relative;
}
.search-input{
    background: linear-gradient(to right,#190e36,#48164d);
    border: none;
    padding: 15px ;
    font-size: 18px;
    letter-spacing: 1px;
    width: 60%;
    color: rgba(252, 214, 214, 0.795);
    border-radius: 20px;
    text-align: start;
}
.search ul{    
    position: absolute;
    z-index: 3;
    height: 500px;
    overflow-y: auto;
    left: 16.7%;
    top: 35px;
    width: 60%;
}
.search ul li{
    list-style-type: none;
    color: rgba(255, 255, 255, 0.795);
    font-size: 17px;
    letter-spacing: 1px;
    background: linear-gradient(to right,#190e36,#48164d);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: start;
    opacity: 0.9;
    padding-left: 20px;
}
.search ul li:hover{
    cursor: pointer;
    background: none;
    background-color: rgb(23, 12, 27);
}
@media (max-width:1200px) {
    .search ul{    
        top: 35px;
        left: 16.2%;
        width: 59.5%;
        text-align: start;
        height: 400px;
    }
}
@media (max-width:991px) {
    .search-input{
        margin-top: 20px;
        padding: 7px;
        font-size: 16px;
        padding-left: 10px;
        width: 65%;
    }
    .search ul{    
        top: 36.5px;
        left: 12.5%;
        width: 65%;
        text-align: start;
        height: 400px;
    }
    .search ul li{
        padding-left: 10px;
    }
}